.user-msg {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: end;
  align-items: center;
}
.bot-msg {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.text {
  background-color: rgba(239, 239, 239, 0.966);
  padding: 15px 20px;
  margin: 0 10px;
  border-radius: 10px;
  max-width: 300px;
}

.chat-message-profile {
  height: 45px;
}

.timetag {
  font-size: 12px;
  color: rgb(147, 146, 146);
  margin-top: 5px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
}
